:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey: #B5B5B5;
  --rgba-black: rgba(0, 0, 0, 1);
  --rgba-white: rgba(255,255,255, 1);
  --rgba-half-white: rgba(255,255,255, 0.5);
  --rgba-half-black: rgba(0, 0, 0, 0.5);
}

.dark {
  background: var(--black);


  .back-to-top {
    background: var(--white);

    svg {
      fill: var(--black);
    }
  }

  & * {
    color: var(--white);
  }
}

.light {
  background: var(--white);


  .back-to-top {
    background: var(--black);
    border: var(--white) 2px solid;

    svg {
      fill: var(--white);
    }
  }

  & * {
    color: var(--black);
  }
}

body {
  &.dark {
    background: var(--black);
  }
}