:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #808080;
  ---rgba-black: rgba(0, 0, 0, 1);
  ---rgba-half-black: rgba(0, 0, 0, 0.5);
}

.dark {
  background: var(--black);

  & * {
    color: var(--white);
  }
}

.light {
  background: var(--white);

  & * {
    color: var(--black);
  }
}

body {
  &.dark {
    background: var(--black);
  }
}