.image-and-text-grid {
    display: grid;
    margin: 0 auto var(--spacing-m) auto;
    padding: 0 var(--mobile-container-width-x);
    gap: var(--mobile-container-width-x);

    .rich-text {
        padding: 0;
    }

    .image {
        grid-column: 1;
        grid-row: 1;
        height: fit-content;
    }

    .text {
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
    }

    &.reverse {
        .image {
            grid-column: 1;
            grid-row: 2;
        }

        .text {
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
        }
    }

    @media (min-width: 769px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: var(--spacing-l) auto;
        padding: 0 var(--desktop-container-width-x);
        gap: var(--desktop-container-width-x);

        .image {
            grid-column: 1;
            grid-row: 1;
            max-width: 500px;
            justify-self: self;
        }

        .text {
            grid-column: 2;
            grid-row: 1;

            p {
                margin: 0;
            }
        }

        &.reverse {
            .image {
                grid-column: 2;
                grid-row: 1;
                max-width: 500px;
                justify-self: end;
            }

            .text {
                grid-column: 1;
                grid-row: 1;

                p {
                    margin: 0;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        padding: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-m);
    padding: 0 var(--mobile-container-width-x);

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        margin-bottom: var(--spacing-m);
    }

    @media (min-width: 768px) {
        padding: 0 var(--desktop-container-width-x);
    }

    @media (min-width: 1200px) {
        padding: var(--desktop-container-width-x) 0;
    }

    @media (min-width: 1500px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-item {
    opacity: 0;
    overflow: hidden;

    &.teaser-card {
        margin-top: var(--spacing-m);

        @media (min-width: 768px) {
            margin-top: var(--spacing-l);
        }

        @media (min-width: 1201px) {
            margin-top: 0;
        }

        a {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);
            align-items: center;

            img {
                aspect-ratio: 4/3;
            }

            .date-genre {
                color: var(---rgba-half-black);
                display: flex;
                gap: var(--spacing-m);
                justify-content: center;
                width: 100%;

                .genre {
                    position: relative;

                    &::before {
                        content: " ";
                        position: absolute;
                        left: calc(var(--spacing-s) * -1 - 2px);
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 50px;
                        height: 5px;
                        width: 5px;
                        background: var(---rgba-half-black);
                        z-index: 1;

                    }
                }
            }

            h3 {
                margin: 0;
                text-transform: none;
            }
        }
    }
}

.grid-item.loaded {
    animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}