.root {
  display: grid;
  grid-template-rows: 65px 1fr auto;
  height: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;

  @media (min-width: 769px) {
    grid-template-rows: auto 1fr auto;
  }
}

.App {
  container-type: inline-size;
  container-name: app;
}

body {
  height: 100%;
  margin: 0;
}

header {
  max-width: var(--desktop-container-max-width);
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-s);
  margin: var(--mobile-container-width-x);
  transition: all 0.5s ease-in-out;


  .logo {
    width: fit-content;
  }

  a {
    font-size: var(--font-size-m);
    text-decoration: none;
    color: var(--black);
    text-align: center;
  }

  ul {
    display: flex;
    gap: var(--spacing-m);
    margin: 0;
    padding: var(--spacing-xs) 0;
    flex-direction: column;
    align-items: center;

    @media (min-width: 769px) {
      flex-direction: row;
    }

    .desktop-darkmode-toggle {
      cursor: pointer;
      font-size: 15px;
      height: 15px;
      position: relative;
    }

    li {
      list-style: none;
      display: inline;

      .active {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 769px) {
    margin: var(--desktop-container-width-x);
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1201px) {
    margin: var(--mobile-container-width-x) auto 0;
    width: 100%;
  }
}

main {
  max-width: var(--desktop-container-max-width);
  margin: 0 auto;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

footer {
  max-width: var(--desktop-container-max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: var(--mobile-container-width-x);
  transition: all 0.5s ease-in-out;

  @media (min-width: 769px) {
    flex-direction: row;
    margin: var(--desktop-container-width-x);
  }

  @media (min-width: 1201px) {
    margin: 0 auto var(--mobile-container-width-x);
    width: 100%;
  }

  .meta-links {
    display: flex;
    gap: var(--spacing-m);
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-m);

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: auto;
      margin-bottom: 0;
    }
  }

  a {
    font-size: var(--font-size-xs);
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}