.root {
  display: grid;
  grid-template-rows: 65px auto;
  height: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;

  @media (min-width: 769px) {
    grid-template-rows: auto 1fr auto;
  }
}

.dark {
  background: var(--black);

  & * {
    color: var(--white);
  }
}

.light {
  background: var(--white);

  & * {
    color: var(--black);
  }
}

header {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-s);

  .logo {
    width: fit-content;
  }

  a {
    font-size: var(--font-size-m);
    text-decoration: none;
    color: var(--black);
    text-align: center;
  }

  ul {
    display: flex;
    gap: var(--spacing-m);
    margin: 0;
    padding: var(--spacing-xs) 0;
    flex-direction: column;
    align-items: center;

    @media (min-width: 769px) {
      flex-direction: row;
    }

    .desktop-darkmode-toggle {
      cursor: pointer;
      font-size: 15px;
      height: 15px;
      position: relative;
    }

    li {
      list-style: none;
      display: inline;

      .active {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 769px) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

body {
  height: 100%;
  margin: 0;
}

main {
  margin: 0 auto;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

footer {
  display: none;

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .meta-links {
    display: flex;
    gap: var(--spacing-m);
    flex-direction: column;
    align-items: center;

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: auto;
    }
  }

  a {
    font-size: var(--font-size-xs);
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}

header,
footer {
  transition: all 0.5s ease-in-out;
  padding: var(--mobile-container-width-x);

  @media (min-width: 769px) {
    padding: var(--desktop-container-width-x)
  }
}

.rich-text {
  padding: 0 var(--mobile-container-width-x);

  @media (min-width: 769px) {
    padding: 0 var(--desktop-container-width-x);
  }
}

.App {
  container-type: inline-size;
  container-name: app;
}