.rich-text {
    max-width: var(--desktop-container-max-width);
    padding: 0 var(--mobile-container-width-x);

    @media (min-width: 769px) {
        padding: 0 var(--desktop-container-width-x);
    }

    @media (min-width: 1200px) {
        padding: 0;
    }
}