:root {
    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-m: 20px;
    --spacing-l: 40px;
    --spacing-xl: 80px;

    --mobile-container-width-x: 10px;
    --desktop-container-width-x: 20px;
}