@import "../base/media-queries.scss";

.back-to-top {
  position: fixed;
  bottom: var(--spacing-s);
  right: var(--spacing-s);
  padding: var(--spacing-s);
  border-radius: var(--border-radius-round);
  border: none;
  z-index: 900;
  opacity: 0;
  transition: var(--transition-ease-in-out-half);

  &.visible {
    opacity: 1;
  }

  svg {
    rotate: 90deg;
    font-size: var(--font-size-m);
  }

  @include tablet {
    display: none;
  }

}