@import "../base/media-queries.scss";

.cta-card {
    border-radius: var(--border-radius-large);

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: calc(var(--mobile-container-width-x) / 2)var(--mobile-container-width-x);

        span {
            margin: 0;
        }

        .link {
            display: flex;
            align-items: center;
            gap: var(--spacing-s);

            .arrow {
                rotate: 180deg;
                font-size: var(--font-size-caption);
                transition: all 0.5s ease-in-out;
            }


            &:hover .arrow {
                @include tablet {
                    transform: translateX(calc(var(--spacing-s) * -1))
                }
            }
        }

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            padding: calc(var(--desktop-container-width-x) / 2) var(--desktop-container-width-x);

            &:hover .link .arrow {
                transform: translateX(-8px);
            }
        }
    }

    &.left,
    &.right,
    &.center {
        @include tablet {
            max-width: calc(50% - calc(var(--desktop-container-width-x) / 2));
        }
    }

    &.right {
        @include tablet {
            margin-left: auto;
        }
    }

    &.left {
        @include tablet {
            margin-right: auto;
        }
    }

    &.center {
        @include tablet {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include desktop {
        margin-left: 0;
        margin-right: 0;
    }
}