 // for media queries
 @import "../base/media-queries.scss";

 .f1-filter {
     position: relative;
     display: flex;
     align-items: center;
     margin-bottom: var(--spacing-s);
     flex-direction: column;

     .desktop-filters {
         display: flex;
         gap: var(--spacing-s);
         width: 100%;
     }

     button:not(.mobile-filter-button) {
         opacity: 1;
         max-width: 200px;
         overflow: hidden;
         white-space: nowrap;
         pointer-events: auto;

         transition: var(--transition-ease-third);
     }

     .mobile-filter-button {
         position: absolute;
         left: 0;

         display: flex;
         flex-direction: column;
         gap: 6px;

         opacity: 0;
         pointer-events: none;
         transform: translateX(20px);

         transition:
             opacity 0.35s ease,
             transform 0.35s ease;

         .label {
             width: 25px;
             height: 3px;
             background: currentColor;
             border-radius: var(--border-radius-tiny);
         }
     }

     @include mobile {
         button:not(.mobile-filter-button, .mobile-filter) {
             opacity: 0;
             max-width: 0;
             margin: 0;
             padding-left: 0;
             padding-right: 0;
             pointer-events: none;
         }

         .mobile-filter-button {
             opacity: 1;
             pointer-events: auto;
             transform: translateX(0);
         }
     }
 }

 .mobile-filters {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     gap: var(--spacing-s);
     padding: var(--spacing-m) var(--spacing-xs) var(--spacing-xs);

     overflow: hidden;
     transform-origin: top;

     transition:
         max-height 0.35s ease,
         opacity 0.25s ease,
         transform 0.35s ease,
         padding 0.35s ease;

     &.hidden {
         max-height: 0;
         opacity: 0;
         transform: translateY(-12px);
         pointer-events: none;
         padding-top: 0;
         padding-bottom: 0;
     }

     &.visible {
         max-height: 500px;
         opacity: 1;
         transform: translateY(0);
         pointer-events: auto;
     }

     @include tablet {

         &,
         &>* {
             max-height: 0;
             opacity: 0;
             transform: translateY(-12px);
             pointer-events: none;
             padding-top: 0;
             padding-bottom: 0;
         }
     }
 }