@import "../base/media-queries.scss";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.inner {
    position: relative;
    height: 100%;
    width: auto;
    filter: brightness(1);
    transition: filter 0.3s ease-in-out;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        image-orientation: from-image;
        border-radius: var(--border-radius-default);
        animation: fadeIn 0.4s ease-in-out;

        &.landscape {
            aspect-ratio: 16/9;
        }

        &.landscape-short {
            aspect-ratio: 4/3;
        }

        &.portrait {
            aspect-ratio: 9/16;
        }

        &.square {
            aspect-ratio: 1/1;
        }

        &.top {
            object-position: top;
        }

        &.center {
            object-position: center;
        }

        &.bottom {
            object-position: bottom;
        }

        &.half-bottom {
            object-position: 50% 80%;
        }

        &.half-top {
            object-position: 50% 20%;
        }

        &.full {
            aspect-ratio: 2/1;
        }

        &.half {
            aspect-ratio: 3/1;
        }

        @include mobile {
            margin: 0 auto;
        }
    }

    span {
        position: absolute;
        color: var(--white);
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        text-transform: none;
    }

    &.has-alt:hover {
        filter: brightness(0.7);

        span {
            opacity: 1;
        }
    }

    .skeleton-image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: var(--border-radius-default);
        background-color: var(--grey);
        width: 100%;
        height: 100%;
        opacity: 1;
        display: block;
        transition: all 0.4s ease-in-out 0.2s;

        &.loaded {
            opacity: 0;
        }

        &.cleanup {
            display: none;
        }

        &.full {
            aspect-ratio: 2/1;
        }

        &.half {
            aspect-ratio: 3/1;
        }
    }
}