@import "../base/media-queries.scss";

.contact-form {
    margin: 0 auto;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);

    .form-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-m);
    }

    .form-field {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        &.error input,
        &.error textarea {
            outline: 2px solid var(--error);
        }
    }

    label {
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    input,
    textarea {
        padding: 0.9rem 1rem;
        border: none;
        box-shadow: none;

        border-radius: var(--border-radius-default);
        background-color: transparent;

        font: inherit;
    }

    textarea {
        min-height: 80px;
        resize: vertical;
        line-height: 1.5;
        resize: none;
        field-sizing: content;
    }

    .form-submit {
        align-self: flex-start;
    }

    .status.error {
        color: var(--error);
    }
}

.success-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    font-size: 1.2rem;
    font-weight: 500;
    padding: var(--spacing-l);
    text-align: center;
    justify-content: center;

    @include tablet {
        flex-direction: row;
    }

    .tick {
        color: #4caf50;
        font-size: 1.5rem;
        font-weight: bold;
    }
}