@import "../base/media-queries.scss";

.image-and-text-grid {
    display: grid;

    .rich-text {
        padding: 0;
    }

    .image {
        position: relative;
        grid-column: 1;
        grid-row: 1;
        height: 100%;
    }

    .text {
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
    }

    &.reverse {
        .image {
            grid-column: 1;
            grid-row: 2;
        }

        .text {
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
        }
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .image {
            position: relative;
            grid-column: 1;
            grid-row: 1;
        }

        .text {
            grid-column: 2;
            grid-row: 1;
            padding-left: var(--desktop-container-width-x);

            p {
                margin: 0;
            }
        }

        &.reverse {
            .image {
                grid-column: 2;
                grid-row: 1;
                justify-self: end;
            }

            .text {
                grid-column: 1;
                grid-row: 1;
                padding-right: var(--desktop-container-width-x);
                padding-left: unset;

                p {
                    margin: 0;
                }
            }
        }
    }

    @include desktop {
        padding: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-m);

    @include mobile {
        grid-template-columns: 1fr;
        margin-bottom: var(--spacing-m);
    }

    @include desktop {
        padding: 0;
    }

    @include desktopXL {
        grid-template-columns: repeat(3, 1fr);
    }

    &.is-projects-grid {
        grid-template-columns: 1fr;
    }

    &.teasers {
        @include tablet {
            padding: 0 var(--mobile-container-width-x);

            .teaser-card {
                padding: 0;
            }
        }

        @include desktop {
            padding: 0;
        }
    }

    &.masonary {
        display: block;
        column-gap: var(--spacing-m);
        column-count: 1;

        @include tablet {
            column-count: 3;
        }
    }

    &.masonary .grid-item {
        break-inside: avoid;
        margin-bottom: var(--spacing-m);
    }
}

.grid-item {
    position: relative;
    overflow: hidden;

    &.landscape {
        aspect-ratio: 16/9;
    }

    &.landscape-short {
        aspect-ratio: 4/3;
    }

    &.portrait {
        aspect-ratio: 9/16;
    }

    &.square {
        aspect-ratio: 1/1;
    }

    &.teaser-card {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        align-items: center;
        outline: 3px solid var(--white);
        border-radius: var(--border-radius-default);

        a {
            position: relative;
            width: 100%;

            img {
                filter: none;
            }
        }

        &.is-blog-teaser a img {
            aspect-ratio: 4/3;
        }

        &.is-project-teaser a {
            .has-alt:hover span {
                display: none;
            }

            img {
                @include mobile {
                    aspect-ratio: 2/1;
                }
                @include tablet {
                    aspect-ratio: 4/1;
                }
            }
        }

        .teaser-info {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;

            &>* {
                color: var(--white);
                z-index: 1;
            }

            .date-genre {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 var(--spacing-m);
                font-size: var(--font-size-caption);
                flex-wrap: wrap;

                &>* {
                    color: var(--white);
                }
            }

            h3 {
                margin: 0;
                text-transform: none;
                text-align: start;
                padding: 0 var(--spacing-m) var(--spacing-s) var(--spacing-m);
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                height: 100%;
                width: 100%;
                background: linear-gradient(rgba(0,0,0, 0) 10%,rgba(0,0,0, 1) 100%);
                border-radius:
                    var(--border-radius-none) var(--border-radius-none) var(--border-radius-default) var(--border-radius-default);
            }
        }
    }
}
