@import "../base/media-queries.scss";

.page {
    max-width: var(--desktop-container-max-width);
    padding: 0 var(--mobile-container-width-x);

    @include desktop {
        padding: 0;
    }

    h1,
    h2 {
        margin-left: 0;
        padding-left: 0;
        text-transform: none;
    }

    &.project-page, &.blog-page {

        .info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: var(--spacing-xs);

            span {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-s);
                align-items: center;
                font-size: var(--font-size-caption);
                opacity: 0.7;
            }
        }
    }

    &.project-page {
        .has-alt:hover {
            filter: none;

            span {
                display: none;
            }
        }
    }
}