.blog-page {

    .blog-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: var(--desktop-container-max-width);
        padding: 0 var(--mobile-container-width-x) var(--mobile-container-width-x);

        span {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-s);
            align-items: center;
            font-size: var(--font-size-caption);
            opacity: 0.7;
        }

        @media (min-width: 1201px) {
            padding: 0 0 var(--mobile-container-width-x);
        }
    }

    h1,
    h2 {
        margin-left: 0;
        padding-left: 0;
        text-transform: none;
    }
}