:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey: #ececec;
  --rgba-black: rgba(0, 0, 0, 1);
  --rgba-white: rgba(255, 255, 255, 1);
  --rgba-half-black: rgba(0, 0, 0, 0.5);
  --rgba-light-black: rgba(0, 0, 0, 0.2);
}

.dark {
  background: var(--black);

  & * {
    color: var(--white);
  }

  .back-to-top {
    background: var(--white);

    svg {
      fill: var(--black);
    }
  }

  .cta-card {
    border: var(--border-radius-tiny) solid var(--white);
  }

  button {
    background: var(--black);
    border: 1px solid var(--white);

    &.is-active {
      background: var(--white);
      color: var(--black);
    }
  }
}

.light {
  background: var(--white);

  & * {
    color: var(--black);
  }


  .back-to-top {
    background: var(--black);
    border: var(--border-radius-tiny) solid var(--white);

    svg {
      fill: var(--white);
    }
  }

  .cta-card {
    border: var(--border-radius-tiny) solid var(--rgba-light-black);
  }

  button {
    background: var(--white);
    border: 1px solid var(--black);

    &.is-active {
      background: var(--black);
      color: var(--white);
    }
  }
}

body {
  &.dark {
    background: var(--black);
  }
}