:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey: #ececec;
  --rgba-black: rgba(0, 0, 0, 1);
  --rgba-white: rgba(255, 255, 255, 1);
  --rgba-half-black: rgba(0, 0, 0, 0.5);
  --rgba-light-black: rgba(0, 0, 0, 0.2);
}