@import "./media-queries.scss";

html {
  &.no-scroll {
    overflow: hidden;
  }

  transition: var(--transition-ease-in-out-half);
}

.root {
  display: grid;
  grid-template-rows: 65px 1fr auto;
  height: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;

  @include tablet {
    grid-template-rows: auto 1fr auto;
  }
}

.App {
  container-type: inline-size;
  container-name: app;
}

body {
  height: 100%;
  margin: 0;
  transition: var(--transition-ease-in-out-half);
}

header {
  max-width: var(--desktop-container-max-width);
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: stretch;
  margin: var(--mobile-container-width-x) var(--mobile-container-width-x) var(--mobile-container-width-x);
  transition: var(--transition-ease-in-out-half);

  @include tablet {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacing-s);
  }

  @include desktop {
    margin: var(--mobile-container-width-x) auto var(--mobile-container-width-x);
    width: 100%;
  }

  &.overlay-visible {
    z-index: unset;
  }


  .logo {
    svg {
      height: 100%;
    }

    width: fit-content;
    font-family: var(--font-secondary-bold);
  }

  a {
    font-size: var(--font-size-s);
    text-decoration: none;
    color: var(--black);
    text-align: center;
  }

  ul.desktop-nav {
    display: none;

    @include tablet {
      display: flex;
      gap: var(--spacing-m);
      margin: 0;
      align-items: center;
      flex-direction: row;
    }

    .desktop-darkmode-toggle {
      cursor: pointer;
      font-size: 15px;
      height: 15px;
      position: relative;
    }

    li {
      list-style: none;
      display: inline;

      .active {
        text-decoration: underline;
      }
    }
  }
}

main {
  max-width: var(--desktop-container-max-width);
  margin: 0 auto;
  width: 100%;
  transition: var(--transition-ease-in-out-half);
}

footer {
  max-width: var(--desktop-container-max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: var(--mobile-container-width-x);
  transition: var(--transition-ease-in-out-half);

  @include tablet {
    flex-direction: row;
    margin: 0 var(--desktop-container-width-x) var(--desktop-container-width-x);
  }

  @include desktop {
    margin: 0 auto var(--mobile-container-width-x);
    width: 100%;
  }

  .meta-links {
    display: flex;
    gap: var(--spacing-m);
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-m);

    @include tablet {
      flex-direction: row;
      align-items: auto;
      margin-bottom: 0;
    }
  }

  a {
    font-size: var(--font-size-xs);
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}

section {
  margin-top: 0;
  margin-bottom: var(--spacing-m);

  .masonary,
  .masonary>.grid-item:last-of-type {
    margin-bottom: 0;
  }
}