:root {
    --third-of-second: 0.3s;
    --half-second: 0.5s;

    --fast-delay: 0.2s;

    --transition-ease-in-out-half: all var(--half-second) ease-in-out;
    --transition-ease-in-out-third: all var(--third-of-second) ease-in-out;

    --transition-ease-in-out-half-fast-delay: all var(--half-second) ease-in-out var(--fast-delay);

    --transition-ease-third: all var(--third-of-second) ease;
}